<div class="navigation py-2 sticky-top shadow-sm">
  <div class="container navigation-my-vpn">
    <nav [@fade]="listAnimate" class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand text-black" href="#">
        <div class="d-flex align-items-center justify-content-center">
          <span class="icon-Vector fs-23 mr-2 text-primary"></span>
          <span class="fs-18 lh-24">
            <span class="rubik-medium">My</span>
            <span class="rubik-bold">VPN</span>
          </span>
        </div>
      </a>
      <button type="button" class="border-0 navbar-toggler" (click)="onToggle()" aria-expanded="false">
        <span [ngClass]="isCollapsed ? 'd-none' : 'd-black'"><img src="assets/images/close.png" /> </span>
        <span [ngClass]="isCollapsed ? 'd-black' : 'd-none'"><img src="assets/icons/menu.svg" /> </span>
      </button>
      <div class="collapse navbar-collapse mt-3" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav fs-16 lh-19 ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" aria-current="page" [routerLinkActiveOptions]="{exact:true}" [routerLinkActive]="['active']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item mt-3 text-center btn-sign-in rubik-medium fs-22 lh-29 justify-content-center">
            <button class="btn px-5 btn-transparont btn-primary" (click)="openDialog()">Sign In</button>
          </li>
        </ul>
      </div>
      <div class="col-md-3 sign-in-btn text-right rubik-medium fs-14 lh-19 justify-content-end sign-in-up-header align-items-center">
        <button class="btn btn-transparont px-5 btn-primary" (click)="openDialog()">Sign In</button>
      </div>
    </nav>
  </div>
</div>
