@use "src/assets/styles/bootstrap-overrides" as *;
@import "src/assets/styles/bootstrap-dependencies";

.navigation {
  @media (max-width: 991px) {
    position: fixed;
    background: $white;
    width: 100%;
  }
}

.navigation-my-vpn {
  @media (max-width: 991px) {
    max-width: 100% !important;
  }

  .sign-in-btn {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .btn-sign-in {
    @media (min-width: 991px) {
      display: none;
    }
  }
  .navbar-collapse {
    .nav-item {
      .nav-link {
        padding: 12px 20px;
        &.active, &:hover {
          color: $primary;
        }
      }
      @include media-breakpoint-down(md) {
        &:not(:last-child) {
          margin-bottom: 8px;
          .nav-link {
           &.active, &:hover, &:active {
             background: rgba($primary, 0.6);
             color: white;
             border-radius: 13px;
           }
         }
        }
      }
    }
  }
  .btn-sign-hover {
    &:hover {
      background: $primary !important;
      color: $white !important;
    }
  }
}
