@use "src/assets/styles/bootstrap-overrides" as bos-over;



.navigation-my-vpn {
  @media (max-width: 991px) {
    max-width: 100% !important;
  }

  .sign-in-btn {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .btn-sign-in {
    @media (min-width: 991px) {
      display: none;
    }
  }
  .navbar-collapse {
    .nav-item {
      .nav-link {
        &.active {
          color: bos-over.$primary;
        }
      }
    }
  }
}
