<div class="container login-component" [ngClass]="{'right-panel-active' : animation}">
  <div class="form-container sign-up-container">
    <form [formGroup]="formSignUp">
      <span class="fs-30 lh-25 title-sign mb-4 rubik-bold">Sign Up</span>
      <div class="my-2">
        <span class="icon-facebook text-white fs-16 border-radius-12 p-2 bg-primary icon-box-shadow-primary mr-3"></span>
        <span class=" icon-twitter text-white fs-16 border-radius-12 p-2 bg-primary icon-box-shadow-primary mr-3"></span>
        <span class=" icon-box-shadow-primary fs-16 border-radius-12 text-white p-2 bg-primary icon-instagram"></span>
      </div>
      <p class="fs-12 mt-3 lh-16 rubik-regular text-capitalize">or use your email for registration</p>
      <mat-form-field class="w-100  mb-4 example-full-width">
        <mat-label class="fs-14">User Name <span class="text-primary">*</span></mat-label>
        <input class="fs-14" type="text" matInput placeholder="User Name" formControlName="userName">
      </mat-form-field>
      <mat-form-field class="w-100  mb-4 example-full-width">
        <mat-label class="fs-14">Email <span class="text-primary">*</span></mat-label>
        <input class="fs-14" type="email" matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="formSignUp.controls.email.invalid">{{getErrorMessageForEmail()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100  mb-4 example-full-width">
        <mat-label class="fs-14">Password <span class="text-primary">*</span></mat-label>
        <input class="fs-14" type="password" matInput placeholder="Password" formControlName="password">
        <span class="view-password cursor-pointer"><fa-icon [icon]="faEyeSlash"></fa-icon></span>
      </mat-form-field>
      <button type="submit" (click)="onSubmitSignUp()" class="btn px-7 btn-box-shadow-primary text-white bg-second-primary"
              [disabled]="!formSignUp.valid">Sign Up
      </button>
      <span class="fs-14 mt-5 text-hover-primary d-none link-btn lh-16" (click)="signIn()">Sign In</span>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form [formGroup]="formSignIn">
      <span class="fs-30 mb-4 lh-25 title-sign rubik-bold">Sign In</span>
      <div class="my-2">
       <span class=" icon-box-shadow-primary fs-16 border-radius-12 text-white p-2 bg-primary icon-facebook mr-3"></span>
        <span class=" icon-box-shadow-primary fs-16 border-radius-12 text-white p-2 bg-primary icon-twitter mr-3"></span>
        <span class=" icon-box-shadow-primary fs-16 border-radius-12 text-white p-2 bg-primary icon-instagram"></span>
      </div>
      <p class="fs-12 lh-16 mt-3 rubik-regular text-capitalize">or use your account</p>
      <mat-form-field class="w-100  mb-4 example-full-width">
        <mat-label class="fs-14">User Name <span class="text-primary">*</span></mat-label>
        <input class="fs-14" type="text" matInput placeholder="User Name" formControlName="userName">
      </mat-form-field>
      <mat-form-field class="w-100  mb-4 example-full-width">
        <mat-label class="fs-14">Password <span class="text-primary">*</span></mat-label>
        <input class="fs-14" type="password" matInput placeholder="Password" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <a href="#" class="text-black mb-3 rubik-medium fs-12 lh-16">Forgot your password?</a>
      <button type="submit" (click)="onSubmitSignIn()" class="btn px-7 text-white btn-box-shadow-primary bg-second-primary"
              [disabled]="!formSignIn.valid">Sign In
      </button>

      <span class="fs-14 mt-5 text-hover-primary d-none link-btn lh-16" (click)="signUp()">Sign Up</span>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <span class="fs-30 mb-4 lh-25 rubik-bold">Welcome Back!</span>
        <p class="fs-12 lh-16 rubik-regular text-capitalize">
          To keep connected with us please login with your personal info
        </p>
        <button class="btn border-white mt-4 px-7 bg-transparent text-uppercase text-white" (click)="signIn()">Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <span class="fs-30 mb-4 lh-25 rubik-bold">Hello, Friend!</span>
        <p class="fs-12 lh-16 rubik-regular">Enter your personal details and start journey with us</p>
        <button class="btn border-white px-7 mt-4 bg-transparent text-uppercase text-white" (click)="signUp()">Sign Up
        </button>
      </div>
    </div>
  </div>
</div>

