@use "src/assets/styles/bootstrap-overrides" as *;
@import "src/assets/styles/bootstrap-dependencies";

.component-evaluated {
  .activie-number {
    box-shadow: 0 15px 35px rgb(13 16 37 / 12%);
    .activite {
      &:not(:last-child) {
        border-right: 2px solid #EEEFF2;
      }
    }
    @include media-breakpoint-down(sm) {
      box-shadow: none;
      .activite {
        border-radius: 20px;
        border: 0;
        box-shadow: 0 6px 30px rgb(13 16 37 / 12%);
        margin: 30px 63px 0 63px;
        padding: 15px;
        flex-direction: column;
        .icon-border {
          margin-right: 0;
          padding: 20px;
          border-radius: 45px;
          margin-bottom: 15px;
          span {
            font-size: 28px;
          }
        }
      }
      .card {
        border: none;
        padding-top: 0 !important;
      }
    }
  }
  .icon-border {
    background: #FFECEC;
    border-radius: 20px;
    padding:15px;
    margin-right: 20px;
  }
  @include media-breakpoint-up(md){
    padding-top: 6rem !important;
  }
}
