@use "../../../assets/styles/bootstrap-overrides" as *;
@import '../../../assets/styles/bootstrap-dependencies';

.features-component {
  .list-item-features {
    margin-top: 6rem;
    .item-feature {
      .card {
        .image-feature {
          span {
            font-size: 180px;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      margin-top: 2rem;
    }
  }
}
