<div class="container pt-0 pt-md-5">
  <div class="activie-number">
    <div class="card border-0 bg-white py-5">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 activite d-flex justify-content-center align-items-center">
            <span class="icon-border"><span class="icon-user text-primary"></span></span>
            <span class="lh-30">
              <div class="rubik-bold fs-23 number text-black">
                <span [countUp]="90"></span>+
              </div>
              <div class="mt-2 fs-18">Users</div>
            </span>
          </div>
          <div class="col-md-4 activite d-flex justify-content-center align-items-center">
            <span class="icon-border"><span class="icon-map text-primary"></span></span>
            <span class=" lh-30">
              <div class="rubik-bold fs-23 number text-black"><span [countUp]="30"></span>+</div>
          <div class="mt-2 fs-18">Locations</div>
        </span>
          </div>
          <div class="col-md-4 activite d-flex justify-content-center align-items-center">
            <span class="icon-border"><span class="icon-server text-primary"></span></span>
            <span class=" lh-30">
          <div class="rubik-bold fs-23 number text-black"><span [countUp]="50"></span>+</div>
          <div class="mt-2 fs-18">Servers</div>
        </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
