@use "src/assets/styles/bootstrap-overrides" as *;
@import "src/assets/styles/bootstrap-dependencies";

.contact-page {
  .icon-contact {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid $primary;
  }
  @include media-breakpoint-down(md) {
   .info-contact {
     margin-top: 0 !important;
     margin-bottom: 1rem !important;
   }
  }
}
