<div class="container component-footer">
    <div class="row">
      <div class="col-md-6">
        <a class="navbar-brand" href="#">
          <div class="d-flex align-items-center justify-content-center">
            <span class="icon-Vector fs-23 mr-2 text-primary"></span>
            <span class="fs-18 lh-24 text-black">
            <span class="rubik-medium">My</span>
            <span class="rubik-bold">VPN</span>
          </span>
          </div>
        </a>
        <div class="mt-5">
          <p class="fs-14 lh-30">
            <span class="rubik-medium text-black">MyVPN</span>
            is a private virtual network that has unique features and has high security.
          </p>
        </div>
        <div class="mt-3">
          <span class="icon-facebook text-white fs-16 border-radius-12 p-2 bg-primary icon-box-shadow-primary mr-3"></span>
          <span class=" icon-twitter text-white fs-16 border-radius-12 p-2 bg-primary icon-box-shadow-primary mr-3"></span>
          <span class=" icon-box-shadow-primary fs-16 border-radius-12 text-white p-2 bg-primary icon-instgram"></span>
        </div>
        <div class="mt-4">
          <span class="text-lightGray rubik-medium fs-14 lh-30"><span class="rubik-regular">©2021My</span>VPN</span>
        </div>
      </div>
      <div class="col-md-6 d-none d-md-block">
        <div class="row">
          <div class="col-md-3">
          <span class="rubik-medium fs-16 lh-30">
            Product
          </span>
            <ul class="list-ul">
              <li><a href="#">Download</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Locations</a></li>
              <li><a href="#">Server</a></li>
              <li><a href="#">Countries</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <span class="rubik-medium fs-16 lh-30">Engage</span>
            <ul class="list-ul">
              <li><a href="#">LaslesVPN ? </a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Tutorials</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Service</a></li>
            </ul>
          </div>
          <div class="col-md-6 text-right">
            <span class="rubik-medium fs-16 lh-30">Earn Money</span>
            <ul class="list-ul ul-left">
              <li class="mr-49"><a href="#">Affiliate </a></li>
              <li class="mr--8"><a href="#">Become Partner</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
