@mixin shadow ($colors) {
  @each $name, $color in $colors {
    .btn-box-shadow-#{$name} {
      box-shadow: 0 15px 20px rgba($color, 40%);
    }
    .icon-box-shadow-#{$name} {
      box-shadow: 0 10px 33px rgba($color, 0.5);
    }
  }
}

@mixin borderRadius($number){
  @for $i from 1 through $number{
    .border-radius-#{$i}{
      border-radius: $i+px !important;
    }
  }
}
