@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?koi9k6');
  src:  url('fonts/icomoon.eot?koi9k6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?koi9k6') format('truetype'),
    url('fonts/icomoon.woff?koi9k6') format('woff'),
    url('fonts/icomoon.svg?koi9k6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-check-not-cercle:before {
  content: "\e900";
}
.icon-checked:before {
  content: "\e901";
}
.icon-server:before {
  content: "\e902";
}
.icon-map:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e904";
}
.icon-Vector:before {
  content: "\e905";
}
