@import 'src/assets/styles/bootstrap-dependencies';

.header-image-component {
  margin-bottom: 6rem;
  padding: 0 15px;
  .image-header {
   img {
     border-radius: 25px;
     box-shadow: 0 20px 33px rgb(13 16 37 / 12%);
   }
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 1.5rem;
    .image-header {
      height: 125px;
      img {
        box-shadow: 0 7px 29px rgb(13 16 37 / 12%);
      }
    }
  }
}
