<header class="app-header bg-white py-5">
  <app-header></app-header>
</header>
<main class="app-main bg-white">
  <div class="bg-white">
    <app-activite-number></app-activite-number>
    <div class="container mt-10">
      <div class="row">
        <div class="col-md-6 d-none d-md-block">
          <div class="image-main">
            <img src="/assets/images/main-image.png" class="w-100" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="main-text position-relative">
            <p class="rubik-medium main-title text-black fs-26 lh-50">
              We Provide Many Features You Can Use
            </p>
            <p class="rubik-regular main-content fs-14 lh-30">
              You can explore the features that we provide with fun and have their own functions each feature.
            </p>
            <div class="list-items fs-12 lh-30">
              <div class="item d-flex justify-content-start align-items-center">
                <span class="icon-checked text-secondary fs-20 mr-3"></span>
                <span>Powerfull online protection.</span>
              </div>
              <div class="item d-flex justify-content-start align-items-center">
                <span class="icon-checked text-secondary fs-20 mr-3"></span>
                <span>Internet without borders.</span>
              </div>
              <div class="item d-flex justify-content-start align-items-center">
                <span class="icon-checked text-secondary fs-20 mr-3"></span>
                <span>Supercharged VPN</span>
              </div>
              <div class="item d-flex justify-content-start align-items-center">
                <span class="icon-checked text-secondary fs-20 mr-3"></span>
                <span>No specific time limits.</span>
              </div>
            </div>
            <img src="/assets/images/5.png" class="image-background image-5">
            <img src="/assets/images/6.png" class="image-background image-6">
            <img src="/assets/images/7.png" class="image-background image-7">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center content-text-center mt-10">
          <p class="rubik-medium fs-33 lh-50 text-black">Choose Your Plan</p>
          <p class="rubik-regular fs-14 lh-30">
            Let's choose the package that is best for you and explore it happily and cheerfully.
          </p>
        </div>
      </div>
    </div>
     <div class="container card-prix mt-10">
       <div class="row">
         <div class="col-md-12">
           <div class="card-deck">
             <div class="card">
               <div class="w-100">
                 <div class="image-card">
                   <img class="card-img-top" src="/assets/images/Standard.png" alt="Card image cap">
                 </div>
               </div>
               <div class="card-body pt-0">
                 <h5 class="card-title text-center rubik-medium fs-16 lh-30 text-black">Free Plan</h5>
                 <div class="list-items-card rubik-regular fs-12 lh-30">
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Unlimited Bandwitch</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Encrypted Connection</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>No Traffic Logs</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Works on All Devices</span>
                   </div>
                 </div>
               </div>
               <div class="card-footer text-center pb-5 bg-white border-0">
                 <div class="mt-3">
                   <span class="rubik-medium fs-23 lh-30">Free</span>
                 </div>
                   <a href="#" class="px-6 btn mt-3 rubik-bold btn-transparont btn-primary">Select</a>
               </div>
             </div>
             <div class="card">
               <div class="w-100">
                 <div class="image-card">
                   <img class="card-img-top" src="/assets/images/Standard.png" alt="Card image cap">
                 </div>
               </div>
               <div class="card-body pt-0">
                 <h5 class="card-title text-center rubik-medium fs-16 lh-30 text-black">Standard Plan</h5>
                 <div class="list-items-card rubik-regular fs-12 lh-30">
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Unlimited Bandwitch</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Encrypted Connection</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Yes Traffic Logs</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Works on All Devices</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Connect Anyware</span>
                   </div>
                 </div>
               </div>
               <div class="card-footer text-center pb-5 bg-white border-0">
                 <div class="mt-3">
                   <span class="rubik-medium fs-23 lh-30">$9 <span class="rubik-regular">/ mo</span></span>
                 </div>
                   <a href="#" class="px-6 btn mt-3 rubik-bold btn-transparont btn-primary">Select</a>
               </div>
             </div>
             <div class="card">
               <div class="w-100">
                 <div class="image-card">
                   <img class="card-img-top" src="/assets/images/Standard.png" alt="Card image cap">
                 </div>
               </div>
               <div class="card-body pt-0">
                 <h5 class="card-title text-center rubik-medium fs-16 lh-30 text-black">Premium Plan</h5>
                 <div class="list-items-card rubik-regular fs-12 lh-30">
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Unlimited Bandwitch</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Encrypted Connection</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Yes Traffic Logs</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Works on All Devices</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Connect Anyware</span>
                   </div>
                   <div class="item">
                     <span class="icon-check-not-cercle text-secondary mr-3"></span>
                     <span>Get New Features</span>
                   </div>
                 </div>
               </div>
               <div class="card-footer text-center pb-5 bg-white border-0">
                 <div class="mt-3">
                   <span class="rubik-medium fs-23 lh-30">$12 <span class="rubik-regular">/ mo</span></span>
                 </div>
                   <a href="#" class="px-6 rubik-bold btn mt-3 active btn-transparont box-sho-button-primary btn-primary">Select</a>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>
  <div class="container d-none d-md-block">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-main">
          <div class="card-body d-flex justify-content-center align-items-center">
            <div class="col-md-6">
              <div class="text-black rubik-medium fs-33 lh-35 ">
                Subscribe Now for Get Special Features!
              </div>
              <p class="rubik-regular mt-3 fs-14 lh-30">
                Let's subscribe with us and find the fun.
              </p>
            </div>
            <div class="col-md-6 text-right">
              <a class="btn btn-primary box-sho-button-primary rubik-bold fs-14 lh-25 px-7">Subscribe Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="app-footer d-none d-md-block py-5 bg-lighterGray">
  <app-footer></app-footer>
</footer>
<router-outlet></router-outlet>
