@use 'src/assets/styles/bootstrap-overrides' as *;
@import 'src/assets/styles/bootstrap-dependencies';

.image-main {
  width: 355px;
}
.image-card {
  padding: 70px;
  padding-bottom: 30px;
}

.list-items-card {
  padding-left: 50px;
}

.main-component {
  .main-text {
    .image-background {
      display: none;
    }
  }
  .card-prix {
    .card {
      border: 2px solid #DDDDDD !important;
      box-sizing: border-box !important;
      border-radius: 10px !important;
      &.active {
        border: 2px solid $primary !important;
      }
    }
  }
  @include  media-breakpoint-down(sm){
    .main-text {
      .image-background {
        position: absolute;
        //z-index: -1;
        display: block;
        &.image-7 {
          top: 10px;
          left: 72px;
        }
        &.image-5 {
          top: 196px;
          right: 42px;
        }
        &.image-6 {
          top: 251px;
          left: -9px;
        }
      }
      .main-title {
        font-size: 2.1875rem !important;
      }
      .content-text-center {
        text-align: center !important;
      }
    }
  }
}
  .card-main {
    box-shadow: 0 6px 30px rgb(13 16 37 / 12%);
    padding: 30px;
  }

.card-item {
  @media (max-width: 991px) {
    .list-items-card {
      padding-left: 0;
    }
  }
  @media (max-width: 767px) {
   display: block;
    .card:not(:last-child) {
      margin-bottom: 15px;
    }
    .card-body {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .card-title {
      font-size: 1.7rem !important;
    }
  }
}
